PDF_PATH=data/Abdullah.yasser.pdf

INDEX_DIRECTORY=indexes

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
LLM_MODEL=google/flan-t5-base

PLANNER_MODEL=llama-3.3-70b-versatile
GROQ_API_KEY=ضع_المفتاح_هنا

CHUNK_SIZE=500
CHUNK_OVERLAP=50